.navbarspacer {
    margin-top: 50px;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column {
    float: left;
    width: 25%;
    padding: 15px;
  }
  
  /* Clear floats after image containers
  .row::after {
    content: "";
    clear: both;
    display: table;
  } */

  .biggerpic {
      text-align: center;

  }

  .biggerpic img {

  }